body {
    background-color: #CFDBD5 !important;
    font-family:'Courier New', Courier, monospace;
}

/* main {
    padding: 60px;
} */

.h1-img-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 60px;
}

.h1-img-main img {
    display: flex;
    align-self: flex-end;
    height: auto;
    max-width: 500px;
}

.container-search{
    background-color: #C0B8D9;
    padding: 20px;
    margin: 0 50px 0 50px;
}
.card {
    margin: 20px;
    --bs-card-border-radius: 3rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #C0B8D9;
    border: none;
}

/* .card-img-top {
    max-width: 20rem;
    width: 16rem;
} */

.row {
    display: flex;
    justify-content: space-evenly;
}

/* .container{
    margin: 0px;
} */

.container p {
    font-size: 1rem;
}

.container h5 {
    font-size: 1.3rem;
}

.btn {
    flex-direction: column;
    background-color: #F5CB5C;
    border-radius: 30px;
    border: none;
}

.btn-dark {
    --bs-btn-color:#333533;
    --bs-btn-hover-bg: #333533;
}

.btn-primary {
    --bs-btn-hover-bg: #333533;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5CB5C;
    /* margin: 0; */
    padding: 20px 0 20px 0;
}
